{% extends "gestion/base.html" %}
{% block title %}Lista de Domiciliarios{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de Domiciliarios</h1>
    <ul class="list-group">
        {% for domiciliario in domiciliarios %}
        <li class="list-group-item">
            {{ domiciliario.nombre }} {{ domiciliario.apellido }} - {{ domiciliario.medio_transporte }} - {{ domiciliario.licencia_conduccion }} - {{ domiciliario.disponibilidad_inicio }} - {{ domiciliario.disponibilidad_fin }}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_domiciliario' %}" class="btn btn-primary mt-3">Crear Nuevo Domiciliario</a>
</div>
{% endblock %}