{% extends "gestion/base.html" %}
{% block title %}Lista de Pedidos{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de Pedidos</h1>
    <ul class="list-group">
        {% for pedido in pedidos %}
        <li class="list-group-item">
            Pedido {{ pedido.id }} - Cliente: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}
            {% if pedido.domiciliario %}
            - Domiciliario: {{ pedido.domiciliario.nombre }} {{ pedido.domiciliario.apellido }}
            {% endif %}
            - Fecha Pedido: {{ pedido.fecha_pedido }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

